@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: rgb(34, 34, 34);
  display: flex;
  background-repeat: no-repeat;
  background-position: top;

  background-image: url("https://images.unsplash.com/photo-1673643654783-262d176c86d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
  background-size: cover;
}

.container {
  margin-top: 250px;

  border: solid 4px white;
}

.secim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
